{% extends "faq/layout.html" %}

<{% block title %}All questions{% endblock %}

{% block content %}

<div class="breadcrumbs">
    {{ block.super }}
</div>

<div class="page-title"><h1>All questions</h1></div>
<div class="question-block">
                {% for question in object_list %}
                        <div class="question card-body">
                            <a href="{% url 'faq:question-detail' slug=question.slug %}">{{ question.question_text }}</a>
                                <span class="card-info">
                                <ul>
                                <li>{{ question.pub_date|date }}</li>
                                <li>Points: {{ total_points }}</li>
                                <li>Author:</li>
                                <li>Answers:</li>
                                </ul>
                                </span>
                        </div>
                {% empty %}
                    <span>No questions that match the query.</span>
                {% endfor %}
</div>
{% endblock %}

